In [3]:
q# 1. Write a program to reverse a string.

a = "pwkills"
b = a[::-1]
b

'sllikwp'

In [4]:
#2. Check if a string is a palindrome.
a = input("enter a string")
b = a[::-1]
if a == b : 
    print("The given string is a palindrome")
else:
    print("The given string is not a palindrome")

enter a string madam

The given string is a palindrome

In [6]:
# 3. Convert a string to uppercase.
a = "pwskills"
a.upper()

'PWSKILLS'

In [7]:
# 4. Convert a string to lowercase.
a = "DataScienceMasterPro"
a.lower()

'datasciencemasterpro'

In [9]:
# 5. Count the number of vowels in a string.
s = input("Enter the string")
vowels = "AEIOUaeiou"
vowel_count = 0
for char in s:
    if char in vowels:
        vowel_count += 1
        
print("The number of vowels in a string are:", vowel_count)

Enter the string aeiou

The number of vowels in a string are: 5

In [11]:
# 6. Count the number of consonants in a string.
s = input("Enter a string :")
vowels = "AEIOUaeiou"
cons_count = 0
for char in s:
    if char.isalpha and char not in vowels:
        cons_count += 1
        
print("The number a consonants in a string are :" , cons_count)

Enter a string : pwskills

The number a consonants in a string are : 7

In [12]:
# 7. Remove all whitespaces from a string.
s = input("Enter the string:")
s.replace(" ","")

Enter the string i am a student

'iamastudent'

In [14]:
# 8. Find the length of a string without using the `len()` function.
s = input("Enter the string :")
str_length = 0
for char in s:
    str_length += 1
print("The length of string is" , str_length)

Enter the string : I am a student

The length of string is 14

In [27]:
# 9. Check if a string contains a specific word.
string = input("Enter a string:")
specific_word = input("enter a specific word:")
if specific_word in string:
    print("The string contains the specific word ")
else:
    print("the string doesn't contain any specific word")

Enter a string: i am a pw student
enter a specific word: pw

The string contains the specific word

In [28]:
# 10. Replace a word in a string with another word.
s = "i am from datascience batch"
s.replace("datascience" , "webdevelopment")

'i am from webdevelopment batch'

In [38]:
# 11. Count the occurrences of a word in a string.
s = "He swim with a swim suit"
word = "swim"
count = s.count(word)
print("The word" , word , "appears" , count , "times")

The word swim appears 2 times

In [4]:
# 12. Find the first occurrence of a word in a string.
s = "he swim with a swim suit"
a = s.find("swim")
print("The first occurance of word is at", a)

The first occurance of word is at 3

In [5]:
# 13. Find the last occurrence of a word in a string.
s = "He swim with a swim suit"
a = s.rfind("swim")
print("The last occurance of word is at" , a)

The last occurance of word is at 15

In [7]:
# 14. Split a string into a list of words.
a = input("Enter the string")
b = a.split(" ")
b

Enter the string I am learning python from pw

['I', 'am', 'learning', 'python', 'from', 'pw']

In [8]:
# 15. Join a list of words into a string.
l = ["I" , "am" , "learning" , "datascience"]
b = " ".join(l)
b

'I am learning datascience'

In [11]:
# 16. Convert a string where words are separated by spaces to one where words
# are separated by underscores.
s = input("Enter the string:")
b = s.replace(" ","_")
b

Enter the string: I am a pw student

'I_am_a_pw_student'

In [14]:
# 17. Check if a string starts with a specific word or phrase.
s = input("Enter the string :")
specific_word = input("Entere the specific word or phrase")
if s.startswith(specific_word):
    print("The entered string starts with" ,specific_word)
else:
    print("The entered string doesn't starts with", specific_word)

Enter the string : once upon a time there lived a ghost
Entere the specific word or phrase once upon a

The entered string starts with once upon a

In [15]:
# 18. Check if a string ends with a specific word or phrase.
s = input("Enter the string")
specific_word = input("Enter the specific word or phrase")
if s.endswith(specific_word):
    print("The entered string ends with " , specific_word)
else:
    print("The entered string doesn't end with" , specific_word)

Enter the string don't quit do it
Enter the specific word or phrase do it

The entered string ends with  do it

In [16]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").
s = input("Enter the string")
c = s.title()
c

Enter the string hello world

'Hello World'

In [18]:
# 20. Find the longest word in a string.
s = input("Enter the string:")
word_list = s.split()
longest_word = max(word_list , key = len)
print("The longest word in the string :", longest_word)

Enter the string: Never let the fear of striking out keep you from playing the game

The longest word in the string : striking

In [19]:
# 21. Find the shortest word in a string.
s = input("Enter the string:")
word_list =s.split()
shortest_word = min(word_list , key = len)
print("The shortest word in the string:" , shortest_word)

Enter the string: Money and success donâ€™t change people; they merely amplify what is already there

The shortest word in the string: is

In [23]:
# 22. Reverse the order of words in a string.
s = input("Enter the string:")
b = s.split()[::-1]
rev_str = " ".join(b)
print("The reverse order of the string :", rev_str)

Enter the string: This is a sample sentence

The reverse order of the string : sentence sample a is This

In [24]:
# 23.Check if a string is alphanumeric.
s = input("Enter the string:")
b = s.isalnum()
if b == 1 :
    print("The string is alphanumeric")
else:
    print("The string is not alphanumeric")

Enter the string: guntalohith01

The string is alphanumeric

In [ ]:
# 24. Extract all digits from a string.
s = input("Enter the string")
extracted_digits = " "

for char in s:
    if char.isdigit():
        extracted_digits += char
print("the extracted_digits :" ,extracted_digits)

Enter the string lohith01

the extracted_digits :  01

In [27]:
# 25. Extract all alphabets from a string.
s = input("Enter the string")
extracted_alphabets = " "

for char in s:
    if char.isalpha():
        extracted_alphabets += char
print("the extracted_digits :" ,extracted_alphabets)

Enter the string lohith01

the extracted_digits :  lohith

In [31]:
# 26. Count the number of uppercase letters in a string.
s = input("Enter the string:")
upper_count = 0
for char in s:
    if char.isupper():
        upper_count += 1
print("The upper case letters in a string :" , upper_count)

Enter the string: My name is Lohith

The upper case letters in a string : 2

In [1]:
# 27. Count the number of lowercase letters in a string.
s = input("Enter the string:")
lower_count = 0
for char in s:
    if char.islower():
        lower_count += 1
print("The upper case letters in a string :" , lower_count)

Enter the string: My name is Lohith

The upper case letters in a string : 12

In [2]:
# 28. Swap the case of each character in a string.
s = input("Enter the string")
b = s.swapcase()
print("The swap case of the given string is :" , b)

Enter the string hello world

The swap case of the given string is : HELLO WORLD

In [3]:
# Remove a specific word from a string.
s = "He won't be any happier there than he was her"
b = s.replace("any" , "")
print("The string after removing the word 'any' :" , b)

The string after removing the word 'any' : He won't be  happier there than he was her

In [4]:
# 30. Check if a string is a valid email address.
email_address = "example@email.com"
if "@" in email_address and "." in email_address:
    print("Possibly a valid email address")
else:
    print("Not a valid email address")

Possibly a valid email address

In [2]:
# 31. Extract the username from an email address string.
email_address = "guntalohith@gmail.com"
user_name = email_address.split('@')[0]
print("username : " , user_name)

username :  guntalohith

In [3]:
# 32. Extract the domain name from an email address string.
email_address = "guntalohith@gmail.com"
domain_name = email_address.split('@')[1]
print("username : " , domain_name)

username :  gmail.com

In [4]:
# 33. Replace multiple spaces in a string with a single space.
s = input("Enter the string ")
word = s.split()
new_string = " ".join(word)
print("The new string:" , new_string)

Enter the string  The sample    multiple line   string

The new string: The sample multiple line string

In [6]:
# 34. Check if a string is a valid URL.
# Test cases
url1 = "https://www.example.com"

valid_schemes = ["http://", "https://", "ftp://"]
is_valid_url1 = any(url1.startswith(scheme) for scheme in valid_schemes)

print(f"{url1} is a valid URL")

https://www.example.com is a valid URL

In [7]:
# 35. Extract the protocol (http or https) from a URL string.
# Input URL string
url = "https://www.example.com/path/to/resource"
protocol = url.split("://")[0]
print("Protocol:", protocol)

Protocol: https

In [10]:
# 36. Find the frequency of each character in a string.
s = input("Enter the string:")
char_frequency = {}
for char in s:
    if char.isalnum():
        char = char.lower()
        if char in char_frequency:
            char_frequency[char] += 1
        else:
            char_frequency[char] = 1

for char, count in char_frequency.items():
    print(f"'{char}': {count}")

Enter the string: my name is lohith

'm': 2
'y': 1
'n': 1
'a': 1
'e': 1
'i': 2
's': 1
'l': 1
'o': 1
'h': 2
't': 1

In [11]:
# 37. Remove all punctuation from a string.
s = input("Enter the string")
new_string = ''.join(char for char in s if char.isalnum() or char.isspace())
print("new string without punctuations :" , new_string)

Enter the string hello world!

new string without punctuations : hello world

In [12]:
# 38. Check if a string contains only digits.
s = input("Enter the string:")
if s.isdigit:
    print("The string contains only digits")
else:
    print("The string doesnt contain only digits")

Enter the string: 12234

The string contains only digits

In [13]:
# 39. Check if a string contains only alphabets.
s = input("Enter the string")
if s.isalpha:
    print("The string only contains alphabets")
else:
    print("The string doesnt contains only alphabets")

Enter the string hello world

The string only contains alphabets

In [14]:
# 40. Convert a string to a list of characters.
s = input("Enter the string:")
b = list(s)
print(b)

Enter the string: hello

['h', 'e', 'l', 'l', 'o']

In [15]:
# 41. Check if two strings are anagrams.
str1 = input("Enter the string1:")
str2 = input("Enter the string2:")
str1 = str1.replace(" ", "").lower()
str2 = str2.replace(" ","").lower()
are_anagrams = sorted(str1) == sorted(str2)

if are_anagrams :
    print(f" '{str1}' and '{str2}' are anagrams")
else :
    print(f" '{str1}' and '{str2}' are not anagrams")
2363

Enter the string1: listen
Enter the string2: silent

 'listen' and 'silent' are anagrams

In [17]:
# 42. Encode a string using a Caesar cipher.
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""

    for char in text:
        if char.isalpha():
            shifted_char = chr(((ord(char) - ord('A' if char.isupper() else 'a') + shift) % 26) + ord('A' if char.isupper() else 'a'))
            encrypted_text += shifted_char
        else:
            encrypted_text += char

    return encrypted_text


plaintext = "Hello, World!"
shift = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift)
print("Original text:", plaintext)
print("Encrypted text:", encrypted_text)

Original text: Hello, World!
Encrypted text: Khoor, Zruog!

In [18]:
# 43. Decode a Caesar cipher encoded string.
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""

    for char in encrypted_text:
        if char.isalpha():
            shifted_char = chr(((ord(char) - ord('A' if char.isupper() else 'a') - shift) % 26) + ord('A' if char.isupper() else 'a'))
            decrypted_text += shifted_char
        else:
            decrypted_text += char

    return decrypted_text

encrypted_text = "Khoor, Zruog!"
shift = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift)
print("Encrypted text:", encrypted_text)
print("Decrypted text:", decrypted_text)

Encrypted text: Khoor, Zruog!
Decrypted text: Hello, World!

In [19]:
# 44. Find the most frequent word in a string.
# Input string
input_string = "This is a simple example. This example is simple and easy."


words = input_string.split()
words = [word.strip('.,!?') for word in words]


word_frequency = {}

for word in words:
    if word:
        word = word.lower() 
        word_frequency[word] = word_frequency.get(word, 0) + 1

most_frequent_word = max(word_frequency, key=word_frequency.get)
frequency = word_frequency[most_frequent_word]

print(f"The most frequent word is '{most_frequent_word}' with a frequency of {frequency} times.")

The most frequent word is 'this' with a frequency of 2 times.

In [20]:
# 45. Find all unique words in a string.

input_string = "This is a simple example. This example is simple and easy."

words = [word.strip('.,!?').lower() for word in input_string.split() if word]

unique_words = set(words)

print("Unique words:", unique_words)

Unique words: {'is', 'this', 'simple', 'example', 'easy', 'a', 'and'}

In [1]:
# 46. Count the number of syllables in a string.
def count_syllables(word):
    vowels = "AEIOUaeiou"
    syllable_count = 0
    in_syllable = False

    for char in word:
        if char in vowels:
            if not in_syllable:
                syllable_count += 1
            in_syllable = True
        else:
            in_syllable = False

    if word.endswith('e') and syllable_count > 1:
        syllable_count -= 1

    return syllable_count
word = "programming"
syllables = count_syllables(word)
print(f"The word '{word}' has {syllables} syllables.")

The word 'programming' has 3 syllables.

In [3]:
# 47. Check if a string contains any special characters.
input_string = "Hello, World123!"

special_characters = False

for char in input_string:
    if not char.isalnum():
        special_characters = True
        break

if special_characters:
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

In [4]:
# 48. Remove the nth word from a string.
def remove_nth_word(input_string, n):
    
    words = input_string.split()
    
 
    if 1 <= n <= len(words):
       
        words.pop(n - 1)
        result_string = " ".join(words)
        return result_string
    else:
      
        return input_string


input_string = "This is a sample sentence to demonstrate removing the nth word."
n = 3  # Remove the 3rd word
result = remove_nth_word(input_string, n)
print(result)

This is sample sentence to demonstrate removing the nth word.

In [5]:
# 49. Insert a word at the nth position in a string.
def insert_word_at_nth_position(input_string, n, word_to_insert):
    
    words = input_string.split()

    
    if 0 <= n <= len(words):
        
        words.insert(n, word_to_insert)
        
        result_string = " ".join(words)
        return result_string
    else:
        
        return input_string

# Example usage
input_string = "This is a sample sentence to demonstrate inserting a word."
n = 4  # Insert at the 4th position
word_to_insert = "new"
result = insert_word_at_nth_position(input_string, n, word_to_insert)
print(result)

This is a sample new sentence to demonstrate inserting a word.

In [6]:
# 50. Convert a CSV string to a list of lists.
import csv
from io import StringIO

csv_string = "Name,Age,Location\nJohn,25,New York\nAlice,30,San Francisco\nBob,22,Los Angeles"

csv_data = []

csv_reader = csv.reader(StringIO(csv_string))

for row in csv_reader:
    csv_data.append(row)

for row in csv_data:
    print(row)

['Name', 'Age', 'Location']
['John', '25', 'New York']
['Alice', '30', 'San Francisco']
['Bob', '22', 'Los Angeles']

List Based Practice Problem :

In [9]:
# 1. Create a list with integers from 1 to 10.
l1 = []
for i in range(1,11):
    l1.append(i)
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# 2. Find the length of a list without using the `len()` function.
l1 = [1,2,3,4,5,6,7,8,9]
count = 0
for _ in l1:
    count = count + 1
print("the length of list :" , count)

the length of list : 9

In [9]:
# 3. Append an element to the end of a list.
l1 = [1,2,3,4,5]
l1.append(6)
print("The updated list :" , l1)

The updated list : [1, 2, 3, 4, 5, 6]

In [10]:
# 4. Insert an element at a specific index in a list.
l1 = [1,2,4,5,6]
l1.insert(2,3)
print("The updated list :" , l1)

The updated list : [1, 2, 3, 4, 5, 6]

In [13]:
# 5. Remove an element from a list by its value.
l1 = [1,2,3,4,"python" , "datascience"]
l1.remove("python")
print("The updated list :" , l1)

The updated list : [1, 2, 3, 4, 'datascience']

In [12]:
# 6. Remove an element from a list by its index.
l1 = [1,2,3,4,"lohith", "jntu"]
print("removed element is :" ,l1.pop(4))
print("The updated list :" , l1)

removed element is : lohith
The updated list : [1, 2, 3, 4, 'jntu']

In [17]:
# 7. Check if an element exists in a list.
l1 = [1,2,3,4,"jntuh","lohith"]
check = 4
if check in l1:
    print("The element exists in the list")
else:
    print("The element doesn't exist in the list")

The element exists in the list

In [19]:
# 8. Find the index of the first occurrence of an element in a list.
l1 = [1,2,3,2,1]
print("The index of the first occurance of the element:",l1.index(2))

The index of the first occurance of the element: 1

In [22]:
# 9. Count the occurrences of an element in a list.
l1 = [1,1,1,1,1,2,2,2,2,3,3,3,4,4]
print("The occurrences of element in a list is" , l1.count(1))

The occurrences of element in a list is 5

In [28]:
# 10. Reverse the order of elements in a list.
l1 =[1,2,3,4,5,6,7,8]
l1.reverse()
print("The new reversed list is " , l1)

The new reversed list is  [8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
# 11. Sort a list in ascending order.
l1 = [1,9,7,4,6,3]
l1.sort()
print("The new updated list :" ,l1)

The new updated list : [1, 3, 4, 6, 7, 9]

In [32]:
# 12. Sort a list in descending order.
l1 = [1,9,7,4,6,3]
new_list = sorted(l1, reverse = True)
print("The new list :" , new_list)

The new list : [9, 7, 6, 4, 3, 1]

In [34]:
# 13. Create a list of even numbers from 1 to 20.
l1 = []
for i in range(1,21):
    if i%2 == 0:
        l1.append(i)
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [35]:
# 14. Create a list of odd numbers from 1 to 20.
l1 = []
for i in range(1,21):
    if i%2 != 0:
        l1.append(i)
l1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [37]:
# 15. Find the sum of all elements in a list.
l1 = [1,2,3,4,5,6,7,8,9]
sum = 0
for element in l1:
    sum += element
print("The sum of all elements in l1 :" , sum)

The sum of all elements in l1 : 45

In [38]:
# 16. Find the maximum value in a list.
l1 = [1,2,3,3444,5,6,777,8,6]
max_value = max(l1)
print(f" The maximum value in the list is: {max_value}")

 The maximum value in the list is: 3444

In [39]:
# 17. Find the minimum value in a list.
l1 = [1,2,3,3444,5,6,777,8,6]
min_value = min(l1)
print(f" The maximum value in the list is: {min_value}")

 The maximum value in the list is: 1

In [42]:
# 18. Create a list of squares of numbers from 1 to 10.
l1 = []
for i in range(1,11):
    l1.append(i**2)
print("The new list :" , l1)

The new list : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
# 19. Create a list of random numbers.
import random

random_numbers = [random.randint(1, 10) for _ in range(5)]

print(random_numbers)

[5, 10, 2, 7, 3]

In [44]:
# 20. Remove duplicates from a list.
def remove_duplicates(lst) :
    
    new_list = set(lst)
    
    return new_list
remove_duplicates([1,1,1,12,2,2,3,3,4,])

{1, 2, 3, 4, 12}

In [45]:
# 21. Find the common elements between two lists.
l1 = [1,4,6,7,8]
l2 = [2,4,5,6,8]

set1 = set(l1)
set2 = set(l2)

common_elements = list(set1.intersection(set2))
print("common elements:", common_elements)

common elements: [8, 4, 6]

In [49]:
# 22. Find the difference between two lists.
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
set1 = set(l1)
set2 = set(l2)

difference = list(set1 - set2)
print(difference)

[1, 2, 3, 4, 5]

In [51]:
# 23. Merge two lists.
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2

print(merged_list)

[1, 2, 3, 4, 5, 6]

In [52]:
#24 Multiply all elements in a list by 2.
lst = [1, 2, 3, 4, 5]

for i in range(len(lst)):
    lst[i] *= 2

print(lst)

[2, 4, 6, 8, 10]

In [3]:
# 25. Filter out all even numbers from a list.
l = [1,2,3,4,5,6,7,8,9]
l1 = []
for i in l:
    if i%2 != 0:
        l1.append(i)
print("updated list :",l1)

updated list : [1, 3, 5, 7, 9]

In [5]:
# 26. Convert a list of strings to a list of integers.
l1 = ["1","2","3","4","5"]
int_l1 = []

for string in l1:
    int_l1.append(int(string))
    
print("The updated list:",int_l1)

The updated list: [1, 2, 3, 4, 5]

In [6]:
# 27. Convert a list of integers to a list of strings.
l1 = [1,2,3,4,5]
int_l1 = []

for integer in l1:
    int_l1.append(str(integer))
    
print("The updated list:",int_l1)

The updated list: ['1', '2', '3', '4', '5']

In [7]:
# 28. Flatten a nested list.

l1 = [[1,2],[3,4,5],[6,7]]
flatten_list = []
for sublist in l1:
    for i in sublist:
        flatten_list.append(i)
        
print("The new flatten list :" , flatten_list)

The new flatten list : [1, 2, 3, 4, 5, 6, 7]

In [10]:
# 29. Create a list of the first 10 Fibonacci numbers.
fib_l1 = [0,1]
for i in range(2,10):
    next_fibo = fib_l1[i-1] + fib_l1[i-2]
    fib_l1.append(next_fibo)
print("The list of 10 fibonacci numbers:", fib_l1)

The list of 10 fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [11]:
#30 Check if a list is sorted.
l1 = [7,4,1,5,8]
if l1 == l1.sort :
    print("The list is sorted")
else:
    print("The list is not sorted")

The list is not sorted

In [13]:
# 31. Rotate a list to the left by `n` positions.
def  rotate_left(lst,n):
    n = n%len(lst)
    return lst[n:] + lst[:n]
original_list = [1,2,3,4,5]
n=2

rotated_list = rotate_left(original_list,n)
print(rotated_list)

[3, 4, 5, 1, 2]

In [14]:
# 32. Rotate a list to the right by `n` positions.
def  rotate_right(lst,n):
    n = n%len(lst)
    return lst[-n:] + lst[:-n]
original_list = [1,2,3,4,5]
n=2

rotated_list = rotate_right(original_list,n)
print(rotated_list)

[4, 5, 1, 2, 3]

In [15]:
# 33. Create a list of prime numbers up to 50.
l = []
for num in range(2,51):
    is_prime = True
    for i in range(2, int(num**0.5)+1):
        if num%i == 0:
            is_prime = False
            break
    if is_prime:
        l.append(num)
print("Prime numbers upto 50:", l)

Prime numbers upto 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [18]:
# 34. Split a list into chunks of size `n`.
def split_list(input_list , chunk_size):
    for i in range(0, len(input_list), chunk_size):
        yield input_list[i:i + chunk_size]
        
my_list = [1,2,3,4,5,6,7,8,9]
chunk_size = 3
chunked_list = list(split_list(my_list, chunk_size))
print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
# 35. Find the second largest number in a list.
l1 = [12,45,2,41,31,10,8,6]

sorted_list = sorted(l1 , reverse = True)

second_largest = sorted_list[1]

print("Second largest number :", second_largest)

Second largest number : 41

In [23]:
# 36. Replace every element in a list with its square.
l1 = [1,2,3,4,5]
for i in range(len(l1)):
    l1[i] = l1[i]**2    
l1

[1, 4, 9, 16, 25]

In [25]:
# 37. Convert a list to a dictionary where list elements become keys and their
# indices become values.
l = ["apple" , "banana", "cherry" , "date"]
my_dict = {}
for index , value in enumerate(l):
    my_dict[value] = index
    
print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [29]:
# 38. Shuffle the elements of a list randomly.
import random
l = [1,2,3,4,5,6]
l2 = random.sample(l , len(l))
print(l2)

[1, 2, 5, 4, 6, 3]

In [32]:
# 39. Create a list of the first 10 factorial numbers.
fact_list = []

for n in range(10):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    fact_list.append(fact)
        
print(fact_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [33]:
# 40. Check if two lists have at least one element in common.
l1 = [1,2,3,4,5]
l2 = [4,5,6,7,8]

if set(l1).intersection(l2):
    print("Lists have atleast one element in common")
else:
    print("Lists have no common elemets")

Lists have atleast one element in common

In [36]:
# 41. Remove all elements from a list.
l1 = [2,3,4,5,65,6,7]
l1.clear()
print("The cleared list")l1

[]

In [3]:
# 42. Replace negative numbers in a list with 0.
l = [1,-1,4,-6,8,-7,5]
l1 = []

for x in l:
    if x<0:
        l1.append(0)
    else:
        l1.append(x)
        
print("The new updated list:" ,l1)

The new updated list: [1, 0, 4, 0, 8, 0, 5]

In [4]:
# 43. Convert a string into a list of words.
l = "This is the sample sentence"
word_list = l.split()
word_list

['This', 'is', 'the', 'sample', 'sentence']

In [6]:
# 44. Convert a list of words into a string.
l = ['This', 'is', 'the', 'sample', 'sentence']
l2 = " ".join(l)
l2

'This is the sample sentence'

In [7]:
# 45. Create a list of the first `n` powers of 2.
n = 5
power_of_2 = []

for i in range(n):
    power_of_2.append(2**i)
power_of_2

[1, 2, 4, 8, 16]

In [8]:
# 46. Find the longest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

longest_string = max(string_list, key=len)

print("The longest string is:", longest_string)

The longest string is: elderberry

In [9]:
# 47. Find the shortest string in a list of strings.
l = ["apple", "banana", "cherry", "date", "elderberry"]
shortest_string = min(l , key = len)
print("The shortest string is:" , shortest_string)

The shortest string is: date

In [10]:
# 48. Create a list of the first `n` triangular numbers.
n = 5 
triangular_numbers = []

for i in range(1, n + 1):
    triangular_number = (i * (i + 1)) // 2
    triangular_numbers.append(triangular_number)

print(triangular_numbers)

[1, 3, 6, 10, 15]

In [11]:
# 49. Check if a list contains another list as a subsequence.
def is_subsequence(main_list, subsequence):

    main_index = 0
    sub_index = 0

    while main_index < len(main_list) and sub_index < len(subsequence):
      
        if main_list[main_index] == subsequence[sub_index]:
            sub_index += 1
        main_index += 1

   
    return sub_index == len(subsequence)


main_list = [1, 2, 3, 4, 5, 6]
subsequence = [2, 4, 6]

if is_subsequence(main_list, subsequence):
    print("The subsequence is present in the main list.")
else:
    print("The subsequence is not present in the main list.")

The subsequence is present in the main list.

In [12]:
# 50. Swap two elements in a list by their indices.
my_list = [1, 2, 3, 4, 5]

index1 = 1
index2 = 3

if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
    my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
    print("List after swapping:", my_list)
else:
    print("Invalid indices. Make sure they are within bounds.")

List after swapping: [1, 4, 3, 2, 5]

Tuple Based Practice Problem :

In [16]:
# 1. Create a tuple with integers from 1 to 5.
t = ()
for i in range(1,6):
    t += (i,)
t

(1, 2, 3, 4, 5)

In [17]:
# 2. Access the third element of a tuple.
t = (1,2,3,4,5,6)
t[2]

3

In [18]:
# 3. Find the length of a tuple without using the `len()` function.
t = (1,2,3,4,5,6)
count = 0
for _ in t :
    count += 1
print("The length of a tuple:" , count)

The length of a tuple: 6

In [1]:
# 4. Count the occurrences of an element in a tuple.
t = (1,2,3,1,1,4,5,6)
t.count(1)

3

In [3]:
# 5. Find the index of the first occurrence of an element in a tuple.
t = (1,2,3,4,5,6,1,5,3)
print("The index of the first occurrence of 1:",t.index(1))

The index of the first occurrence of 1: 0

In [5]:
# 6. Check if an element exists in a tuple.
t = (1,2,3,4,5,6)
a = int(input("Enter an element to check if it is present in tuple:"))
if a in t:
    print("The element exists in the tuple")
else:
    print("The element doesnt exist in the tupple")

Enter an element to check if it is present in tuple: 5

The element exists in the tuple

In [6]:
# 7. Convert a tuple to a list.
t = (1,2,3,4,5,6)
a = list(t)
a

[1, 2, 3, 4, 5, 6]

In [7]:
# 8. Convert a list to a tuple.
l = [1,2,3,4,5,6]
a = tuple(l)
a

(1, 2, 3, 4, 5, 6)

In [8]:
# 9. Unpack the elements of a tuple into variables.
t = (1,2,3)
var1 , var2 , var3 = t
print(var1)
print(var2)
print(var3)

1
2
3

In [9]:
# 10. Create a tuple of even numbers from 1 to 10.
t = []
for i in range(1,11):
    if i%2 == 0:
        t.append(i)
tuple(t)

(2, 4, 6, 8, 10)

In [10]:
# 11. Create a tuple of odd numbers from 1 to 10.
t = []
for i in range(1,11):
    if i%2 != 0:
        t.append(i)
tuple(t)

(1, 3, 5, 7, 9)

In [12]:
# 12. Concatenate two tuples.
t1 = (1,2,3,4,5)
t2 = (6,7,8,9,10)
t = t1 + t2
t

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [14]:
# 13. Repeat a tuple three times.
t = (1,2,3)
t1 = t*3
t1

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [15]:
# 14. Check if a tuple is empty.
t = (1,2,3,4,5)
if not t:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

The tuple is not empty

In [16]:
# 15. Create a nested tuple.
t = ((1,2), (3,4) , (4,5))
t

((1, 2), (3, 4), (4, 5))

In [17]:
# 16. Access the first element of a nested tuple.
t = ((1,2), (3,4) , (4,5))
t[0][0]

1

In [19]:
# 17. Create a tuple with a single element.
single_element_tuple = (42,)
single_element_tuple
# I have created a tuple single_element_tuple with a single element, which is the integer 42. 
# The trailing comma distinguishes it as a tuple with one element rather than just an integer in parentheses.

(42,)

In [21]:
# 18. Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

Tuples are equal

In [23]:
# 19. Delete a tuple.
t = (1,2,3,4,5,6)
del t
# Attempting to access the tuple after deletion will raise an error

In [24]:
# 20. Slice a tuple.
t = (1,2,3,4,5,6)
t[0:2]

(1, 2)

In [27]:
# 21. Find the maximum value in a tuple.
t = (1,2,3,4,5,6,7)
a = max(t)
print("The maximum value in the tuple is:" , a)

The maximum value in the tuple is: 7

In [28]:
# 22. Find the minimum value in a tuple.
t = (1,2,3,4,5,6,7)
a = min(t)
print("The minimum value in the tuple is:" , a)

The minimum value in the tuple is: 1

In [29]:
# 23. Convert a string to a tuple of characters.
a = "pwskills"
tuple(a)

('p', 'w', 's', 'k', 'i', 'l', 'l', 's')

In [31]:
# 24. Convert a tuple of characters to a string.
t = ('a' , 'p', 'p' , 'l' , 'e')
a = "".join(t)
a

'apple'

In [32]:
# 25. Create a tuple from multiple data types.
mixed_tuple = (1, "hello", 3.14, True, [1, 2, 3])

print(mixed_tuple)

(1, 'hello', 3.14, True, [1, 2, 3])

In [34]:
# 26. Check if two tuples are identical.
tuple1 = (1, 2, 4)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("Tuples are identical")
else:
    print("The tuple are not identical")

The tuple are not identical

In [40]:
# 27. Sort the elements of a tuple.
t = (1,7,6,3,8,0)
a = sorted(t)
sorted_t = tuple(a)
sorted_t

(0, 1, 3, 6, 7, 8)

In [41]:
# 28. Convert a tuple of integers to a tuple of strings.
t = (1, 2, 3, 4, 5)
t1= ()
for num in t:
    string_num = str(num)
    t1 += (string_num,)

print(t1)

('1', '2', '3', '4', '5')

In [43]:
# 29. Convert a tuple of strings to a tuple of integers.
t = ('1', '2', '3', '4', '5')
t_int = ()

for str_num in t:
    int_num = int(str_num)
    t_int += (int_num,)

print(t_int)

(1, 2, 3, 4, 5)

In [46]:
# 30. Merge two tuples.
t1 = (1,2,3,4,5)
t2 = ("lohi" , "jntuh" , "chemical")
t = t1+t2
t

(1, 2, 3, 4, 5, 'lohi', 'jntuh', 'chemical')

In [47]:
# 31. Flatten a nested tuple.
def flatten_nested_tuple(nested_tuple):
    flattened_tuple = ()
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened_tuple += flatten_nested_tuple(item)
        else:
            flattened_tuple += (item,)
    return flattened_tuple

nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

flattened_tuple = flatten_nested_tuple(nested_tuple)

print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

In [48]:
# 32. Create a tuple of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = ()
count = 0
num = 2  

while count < 5:
    if is_prime(num):
        prime_numbers += (num,)
        count += 1
    num += 1

print(prime_numbers)

(2, 3, 5, 7, 11)

In [49]:
# 33. Check if a tuple is a palindrome.
def is_palindrome(input_tuple):
    return input_tuple == input_tuple[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)


print(is_palindrome(palindrome_tuple))  
print(is_palindrome(non_palindrome_tuple))

True
False

In [2]:
# 34. Create a tuple of squares of numbers from 1 to 5.
t = tuple(x**2 for x in range(1,6))
t

(1, 4, 9, 16, 25)

In [6]:
# 35. Filter out all even numbers from a tuple.
t = (1,2,3,4,5,6)
filtered_t = tuple(x for x in t if x%2 != 0)
filtered_t

(1, 3, 5)

In [9]:
# 36. Multiply all elements in a tuple by 2.
t = (1,2,3,4,5,6)
new_t = tuple(x*2 for x in t)
new_t

(2, 4, 6, 8, 10, 12)

In [10]:
# 37. Create a tuple of random numbers.
import random

random_tuple = tuple(random.randint(1, 100) for _ in range(5))

print(random_tuple)

(100, 69, 61, 45, 37)

In [11]:
# 38. Check if a tuple is sorted.
def is_sorted(input_tuple):
    for i in range(len(input_tuple) - 1):
        if input_tuple[i] > input_tuple[i + 1]:
            return False
    return True
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 2, 3, 4, 1)

# Check if the tuples are sorted
print(is_sorted(sorted_tuple))   
print(is_sorted(unsorted_tuple))

True
False

In [12]:
# 39. Rotate a tuple to the left by `n` positions.
def rotate_left(input_tuple, n):
    n %= len(input_tuple)  
    rotated_tuple = input_tuple[n:] + input_tuple[:n]
    return rotated_tuple

original_tuple = (1, 2, 3, 4, 5)
n = 2  

rotated_tuple = rotate_left(original_tuple, n)
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [13]:
# 40. Rotate a tuple to the right by `n` positions.
def rotate_right(input_tuple, n):
    n %= len(input_tuple) 
    rotated_tuple = input_tuple[-n:] + input_tuple[:-n]
    return rotated_tuple

# Test case
original_tuple = (1, 2, 3, 4, 5)
n = 2  

rotated_tuple = rotate_right(original_tuple, n)
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [14]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci_sequence = []
    a, b = 0, 1
    for _ in range(n):
        fibonacci_sequence.append(a)
        a, b = b, a + b
    return tuple(fibonacci_sequence)


first_5_fibonacci = generate_fibonacci(5)

print(first_5_fibonacci)

(0, 1, 1, 2, 3)

In [16]:
# 42. Create a tuple from user input.
t = input("Enter a elements separated by commas")
l1 = t.split(",")
t1 = tuple(l1)
t1

Enter a elements separated by commas 2,2,4,5,6,7

('2', '2', '4', '5', '6', '7')

In [17]:
# 43. Swap two elements in a tuple.
original_tuple = (1, 2, 3, 4, 5)

index1 = 1
index2 = 3

tuple_list = list(original_tuple)

tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]

swapped_tuple = tuple(tuple_list)

print("Original Tuple:", original_tuple)
print("Swapped Tuple:", swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple: (1, 4, 3, 2, 5)

In [18]:
# 44. Reverse the elements of a tuple.
original_tuple = (1, 2, 3, 4, 5)

reversed_tuple = tuple(reversed(original_tuple))

print("Original Tuple:", original_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [19]:
# 45. Create a tuple of the first `n` powers of 2.
def generate_powers_of_2(n):
    powers_of_2 = []
    for i in range(n):
        powers_of_2.append(2 ** i)
    return tuple(powers_of_2)

first_5_powers = generate_powers_of_2(5)

print(first_5_powers)

(1, 2, 4, 8, 16)

In [20]:
# 46. Find the longest string in a tuple of strings.
t = ("apple", "banana", "cherry", "date", "elderberry")

longest_string = max(t , key=len)

print("Longest string:", longest_string)

Longest string: elderberry

In [21]:
# 47. Find the shortest string in a tuple of strings.
t = ("apple", "banana", "cherry", "date", "elderberry")

shortest_string = min(t , key=len)

print("Longest string:", shortest_string)

Longest string: date

In [22]:
# 48. Create a tuple of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = []
    for i in range(1, n + 1):
        triangular_numbers.append(i * (i + 1) // 2)
    return tuple(triangular_numbers)

first_5_triangular = generate_triangular_numbers(5)

print(first_5_triangular)

(1, 3, 6, 10, 15)

In [23]:
# 49. Check if a tuple contains another tuple as a subsequence.

def contains_subsequence(tuple1, tuple2):
    i, j = 0, 0 
    while i < len(tuple1) and j < len(tuple2):
        if tuple1[i] == tuple2[j]:
            j += 1 
        i += 1 
    return j == len(tuple2)  

# Test cases
tuple1 = (1, 2, 3, 4, 5, 6)
tuple2 = (2, 4, 6) 
tuple3 = (3, 6, 7)  

print(contains_subsequence(tuple1, tuple2)) 
print(contains_subsequence(tuple1, tuple3))

True
False

In [24]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
def create_alternating_tuple(n):
    alternating_tuple = tuple((i % 2) for i in range(n))
    return alternating_tuple

n = 8
alternating_tuple = create_alternating_tuple(n)

print(alternating_tuple)

(0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

In [26]:
# 1. Create a set with integers from 1 to 5.
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [28]:
# 2. Add an element to a set.
s = {1,2,3,4,5}
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [30]:
# 3. Remove an element from a set.
s = {1,2,3,4,5,6}
s.remove(6)
s

{1, 2, 3, 4, 5}

In [31]:
# 4. Check if an element exists in a set.
s = {1, 2, 3, 4, 5}

check = 3

if check in s:
    print(f"{check} exists in the set.")
else:
    print(f"{check} does not exist in the set.")

3 exists in the set.

In [32]:
# 5. Find the length of a set without using the `len()` function.
s = {1,2,3,4,5,6}
count = 0
for _ in s:
    count += 1
print("The number of elements in the set are :" , count)

The number of elements in the set are : 6

In [38]:
# 6. Clear all elements from a set.
s = {1,2,3,4,5,6}
a = s.clear()
a

In [41]:
# 7. Create a set of even numbers from 1 to 10.
s = {x for x in range(1,11) if x%2 == 0}
s

{2, 4, 6, 8, 10}

In [42]:
# 8. Create a set of odd numbers from 1 to 10.
s = {x for x in range(1,11) if x%2 != 0}
s

{1, 3, 5, 7, 9}

In [43]:
# 9. Find the union of two sets.
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
union = (s1.union(s2))
union

{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
# 10. Find the intersection of two sets.
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
union = (s1.intersection(s2))
union

{4, 5}

In [45]:
# 11. Find the difference between two sets.
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
differ = (s1.difference(s2))
differ

{1, 2, 3}

In [46]:
# 12. Check if a set is a subset of another set.
s1 = {1, 2, 3}
s2 = {1, 2, 3, 4, 5}

is_subset = s1.issubset(s2)

if is_subset:
    print("set1 is a subset of set2.")
else:
    print("set1 is not a subset of set2.")

set1 is a subset of set2.

In [47]:
# 13. Check if a set is a superset of another set.
s1 = {1, 2, 3}
s2 = {1, 2, 3, 4, 5}

is_superset = s1.issuperset(s2)

if is_superset:
    print("set1 is a superset of set2.")
else:
    print("set1 is not a superset of set2.")

set1 is not a superset of set2.

In [50]:
# 14. Create a set from a list.
l = [1,2,3,4,5]
b = set(l)
b

{1, 2, 3, 4, 5}

In [51]:
# 15. Convert a set to a list.
s = {1,2,3,4,5}
l = list(s)
l

[1, 2, 3, 4, 5]

In [52]:
# 16. Remove a random element from a set.
s = {1, 2, 3, 4, 5}

remove = s.pop()

print("Removed element:", remove)
print("Updated set:", s)

Removed element: 1
Updated set: {2, 3, 4, 5}

In [53]:
# 17. Pop an element from a set.
s = {1, 2, 3, 4, 5}

pop = s.pop()

print("popped element:", pop)
print("Updated set:", s)

popped element: 1
Updated set: {2, 3, 4, 5}

In [54]:
# 18. Check if two sets have no elements in common.
set1 = {1, 2, 3}
set2 = {4, 5, 6}

a = set1.isdisjoint(set2)

if a:
    print("The sets have no elements in common.")
else:
    print("The sets have at least one element in common.")

The sets have no elements in common.

In [55]:
# 19. Find the symmetric difference between two sets.
set1 = {1, 2, 3}
set2 = {4, 5, 6}

a = set1.symmetric_difference(set2)
a

{1, 2, 3, 4, 5, 6}

In [56]:
# 20. Update a set with elements from another set.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.update(s2)

print("Updated set1:", s1)

Updated set1: {1, 2, 3, 4, 5}

In [57]:
# 21. Create a set of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

prime_set = set()
num = 2 
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [59]:
# 22. Check if two sets are identical.
s1 = {1,2,3}
s2 = {1,2,3}
if s1 == s2 :
    print("They are identical sets")
else:
    print("They are not identical sets")

They are identical sets

In [60]:
# 23. Create a frozen set.
s = {1,2,3,4,5}
a = frozenset(s)
a

frozenset({1, 2, 3, 4, 5})

In [61]:
# 24. Check if a set is disjoint with another set.
s1 = {1, 2, 3}
s2 = {4, 5, 6}

are_disjoint = s1.isdisjoint(s2)

if are_disjoint:
    print("The sets are disjoint (have no elements in common).")
else:
    print("The sets are not disjoint (have elements in common).")

The sets are disjoint (have no elements in common).

In [63]:
# 25. Create a set of squares of numbers from 1 to 5.
s = {x**2 for x in range(1,6) }
s

{1, 4, 9, 16, 25}

In [64]:
# 26. Filter out all even numbers from a set.
s = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

filtered_set = {x for x in s if x % 2 != 0}

print("Original set:", s)
print("Filtered set (odd numbers only):", filtered_set)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Filtered set (odd numbers only): {1, 3, 5, 7, 9}

In [66]:
# 27. Multiply all elements in a set by 2.
s = {1,2,3,4,5}
s1 = {x*2 for x in s}
s1

{2, 4, 6, 8, 10}

In [67]:
# 28. Create a set of random numbers.
import random
random_number_set = set()

for _ in range(10):  
    random_number = random.randint(1, 100)  
    random_number_set.add(random_number)

print("Random Number Set:", random_number_set)

Random Number Set: {5, 11, 43, 78, 81, 49, 21, 22, 92}

In [68]:
# 29. Check if a set is empty.
s = set()

if not s:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [69]:
# 30. Create a nested set (hint: use frozenset).
nested_set = {
    frozenset({1, 2, 3}),
    frozenset({4, 5, 6}),
    frozenset({7, 8, 9})
}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

In [72]:
# 31. Remove an element from a set using the discard method.
s = {1, 2, 3, 4, 5}
s.discard(3)  
print("Updated set:", s)

Updated set: {1, 2, 4, 5}

In [73]:
# 32. Compare two sets.
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

are_equal = set1 == set2

is_subset = set1 <= set2

intersection = set1 & set2

union = set1 | set2

#
print("Are sets equal?", are_equal)
print("Is set1 a subset of set2?", is_subset)
print("Intersection of sets:", intersection)
print("Union of sets:", union)

Are sets equal? False
Is set1 a subset of set2? False
Intersection of sets: {3, 4, 5}
Union of sets: {1, 2, 3, 4, 5, 6, 7}

In [74]:
# 33. Create a set from a string.
s = "apple"
s1 = set(s)
s1

{'a', 'e', 'l', 'p'}

In [77]:
# 34. Convert a set of strings to a set of integers.
s = {'1' , '2' , '3' , '4'}
s1 = {int(x) for x in s}
s1

{1, 2, 3, 4}

In [78]:
# 35. Convert a set of integers to a set of strings.
s = {1,2,3,4,5}
s1 = {str(x) for x in s}
s1

{'1', '2', '3', '4', '5'}

In [79]:
# 36. Create a set from a tuple.
t = (1,2,3,4,5)
s = set(t)
s

{1, 2, 3, 4, 5}

In [80]:
# 37. Convert a set to a tuple.
s = {1,2,3,4,5}
t = tuple(s)
t

(1, 2, 3, 4, 5)

In [81]:
# 38. Find the maximum value in a set.
s = {1,2,3,4,5}
maximum = max(s)
maximum

5

In [82]:
# 39. Find the minimum value in a set.
s = {1,2,3,4,5}
minimum = min(s)
minimum

1

In [85]:
# 40# Initialize an empty set
my_set = set()

while True:
    user_input = input("Enter an element (or 'q' to quit): ")

    if user_input.lower() == 'q':
        break

    try:
        element = int(user_input)

        my_set.add(element)
    except ValueError:
        print("Invalid input. Please enter a valid integer.")

print("Final Set:", my_set)

Enter an element (or 'q' to quit):  1
Enter an element (or 'q' to quit):  2
Enter an element (or 'q' to quit):  3
Enter an element (or 'q' to quit):  q

Final Set: {1, 2, 3}

In [86]:
# 41. Check if the intersection of two sets is empty.
s1 = {1, 2, 3}
s2 = {4, 5, 6}

intersection_empty = s1.isdisjoint(s2)

if intersection_empty:
    print("The intersection of the sets is empty.")
else:
    print("The intersection of the sets is not empty.")

The intersection of the sets is empty.

In [87]:
# 42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set = set()
a, b = 0, 1
for _ in range(5): 
    fibonacci_set.add(a)
    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [88]:
# 43. Remove duplicates from a list using sets.
my_list = [1, 2, 2, 3, 4, 4, 5]
my_list_without_duplicates = list(set(my_list))

print("Original list:", my_list)
print("List without duplicates:", my_list_without_duplicates)

Original list: [1, 2, 2, 3, 4, 4, 5]
List without duplicates: [1, 2, 3, 4, 5]

In [89]:
# 44. Check if two sets have the same elements, regardless of their count.
s1 = {1, 2, 3}
s2 = {3, 2, 1}

are_equivalent = s1 == s2

if are_equivalent:
    print("The sets are equivalent (have the same elements).")
else:
    print("The sets are not equivalent (have different elements).")

The sets are equivalent (have the same elements).

In [90]:
# 45. Create a set of the first `n` powers of 2.
def generate_powers_of_2(n):
    powers_of_2_set = set()
    for i in range(n):
        powers_of_2_set.add(2 ** i)
    return powers_of_2_set

n = 5  
powers_of_2_set = generate_powers_of_2(n)

print(f"Set of the first {n} powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [91]:
# 46. Find the common elements between a set and a list.
s = {1, 2, 3, 4, 5}
l = [3, 4, 5, 6, 7]

common_elements = s.intersection(l)

print("Set:", s)
print("List:", l)
print("Common Elements:", common_elements)

Set: {1, 2, 3, 4, 5}
List: [3, 4, 5, 6, 7]
Common Elements: {3, 4, 5}

In [92]:
# 47. Create a set of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers_set = set()
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2
        triangular_numbers_set.add(triangular_number)
    return triangular_numbers_set

n = 5 
triangular_numbers_set = generate_triangular_numbers(n)

print(f"Set of the first {n} triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [93]:
# 48. Check if a set contains another set as a subset.
s1 = {1, 2, 3, 4, 5}
s2 = {2, 3}

is_subset = s2.issubset(s1)

if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [94]:
# 49. Create a set of alternating 1s and 0s of length `n`.
def generate_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        alternating_set.add(i % 2)
    return alternating_set

n = 7 

alternating_set = generate_alternating_set(n)

print(f"Set of alternating 1s and 0s of length {n}:", alternating_set)

Set of alternating 1s and 0s of length 7: {0, 1}

In [95]:
# 50. Merge multiple sets into one.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}

merged_set = s1.union(s2, s3)

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}